user  nginx www;
worker_processes 2; # can be 'auto'

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    use epoll; # force to use epoll. http://nginx.org/en/docs/events.html
    worker_connections  1024;
}

http {
    include              /etc/nginx/mime.types;
    default_type         application/octet-stream;
    sendfile             on;
    keepalive_timeout    65;
    client_max_body_size 13m; #php max upload limit cannot be larger than this
    index                index.php index.html index.htm;
    server_tokens        off; # disable sending Nginx version
    tcp_nopush           on;
    tcp_nodelay          on;

    log_format           main  '$time_local | $remote_addr | $http_referer | $host | $status | "$request" | "$http_user_agent"';
    access_log           /var/log/nginx/access.log  main;

    #Gzip
    gzip  on;
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_disable "MSIE [1-6].(?!.*SV1)";
    gzip_types text/plain text/css application/json application/x-javascript text/xml
                        application/xml application/xml+rss text/javascript;

    #FastCGI
    fastcgi_intercept_errors on;
    fastcgi_ignore_client_abort on;
    fastcgi_buffers 8 16k;
    fastcgi_buffer_size 32k;
    fastcgi_read_timeout 120;
    fastcgi_index  index.php;
    fastcgi_hide_header X-Powered-By;

    limit_req_zone $binary_remote_addr zone=one:10m rate=1r/s;

    # Upstream to abstract backend connection(s) for PHP.
    upstream php {
        #this should match value of "listen" directive in php-fpm pool
        server unix:/var/run/php-fpm/php-fpm.sock;
    }

    # Empty or invalid hostname will come here since this is the first server.
    # When there is no matched server_name, it will come here.
    server {
        listen 80;
        server_name _ "";
        return 403;
    }

    include /etc/nginx/site_enabled/*.conf;
}
